<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your notes</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>

<div class="container">
    <h2>List Notes</h2>
    <hr/>

    <table>
<tr>
    <td><span th:text="${loggedData}"></span></td>
    <td><a th:href="@{/login}" class="btn btn-primary">Log out</a></td>
</tr>
    </table>


    <br/>
<a th:href="@{/addNote}" class = "btn btn-primary mb-2">Add Note</a>
    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th>Text</th>
            <th>Created Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="note: ${notes}">
            <td th:text="${note.content}"></td>
            <td> <p style="white-space: pre;" th:text="${note.createdOn}"></p></td>
            <td>
                <a th:href="@{/updateNote(noteId=${note.id})}" class="btn btn-info">Update</a>

           <a th:href="@{deleteNote/{id}(id=${note.id})}" class="btn btn-info">Delete</a>
           </td>
        </tr>
        </tbody>

    </table>
</div>


</body>
</html>